.card{
    display: block;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    position: fixed;
    border-radius: .25rem;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.3);
    background-color: white;
    height: 400px;
    width: 600px;
    margin-left: 650px;
    margin-top: -50px;
    padding-left: 2em;
   
}

.selected {
    background-color: coral;
  }

.card-index{
    align-items: center;
    position: fixed;
    margin-top: 380px;
    margin-left: 900px;
}
.card-title{
    padding-left: 2em;
    margin-top: 50px;
    text-decoration: underline;
    
}
.content{
    padding-left: 3em;
    margin-top: 100px
}
.button-next{
    align-items: center;
    position: fixed;
    margin-top: 380px;
    margin-left: 1000px;

}
.button-prev{
    align-items: center;
    position: fixed ;
    margin-top: 380px;
    margin-left: 800px;

}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: 100px;
  }

  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #640dd6;
    color: white;
  }
  
  .round {
    border-radius: 50%;
  }