.subject-div{
    width: 20%;
    text-align: center;
    font-size: 20px;
    padding-bottom: 0.2em; 
    margin-left: 20px;
    margin-top: 180px;
    fill: white;
    color: rgb(199, 191, 191);
    border-style: solid;

}
.selected {
    color: red;
}